#settings{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 600;  
    font-size:x-large ;
    padding-top: 5%; 
    padding-left: 15%;
}
#about-us{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 600;  
    font-size:x-large ;
    padding-top: 5%; 
    padding-left: 15%;
}